@import './styles/App.css';
@import './styles/Menu.css';
@import './styles/Home.css';
:root{
  --color-white:#fffff;
  --color-body:#ff9e00;
  --color-body1:#000000;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-body1);
  height: 100vh;
  width: 100%;
}

.root{
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}
